*{
    background-color: burlywood;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.Dist{
    cursor: pointer;
    margin-top: 15px;
    width: 60px;
}
button{
    cursor: grab;
    background-color: chocolate;
    color: cyan;
}
#Num{
    background-color: aquamarine;
    text-align: center;
    line-height: 150px;
}
#Area{
    cursor: grab;
    background-color: aquamarine;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#Cookie{
    position: relative;
    width: 500px;
    height: 650px;
    background-color: aquamarine;
    float: left;
}